<div class="fila">
  <div>
    <label for="nombreTarea">Nombre tarea: </label>
    <input
      type="text"
      id="nombreTarea"
      placeholder="Escribe el nombre de la tarea"
    />
  </div>
  <div>
    <label for="prioridadTarea">Prioridad: </label>
    <select id="prioridadTarea">
      <option value="alta">Alta</option>
      <option value="media">Media</option>
      <option value="baja">Baja</option>
    </select>
  </div>
  <div>
    <button id="guardarTarea">Guardar</button>
  </div>
</div>

<!-- Segunda fila -->
<div id="tareas" class="fila"></div>
